* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f3f3;
}

h2 {
    font-family: 'Indie Flower', cursive;
    color: #95E1D3;
    font-size: 50px;
    margin: 0 auto;
}

.container {
    background-color: #F38181;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.login {
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 10px 10px #6f3b3b;
    border: 1px solid #a9a9a9;
}

.login > button {
    background-color:#f38181;
    border-radius:10px;
    color:#ffffff;
    font-size:19px;
    font-weight:bold;
    padding:12px 25px;
    margin-top: 15px;
    width: 50%;
    border: none;
    text-decoration:none;
    align-self: center;
}

.login > button:hover {
    background-color:#95e1d3;
}

.login > input {
    height: 30px;
    margin: 3px auto;
    justify-content: center;
    width: 88%;
    gap: 15px;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid rgb(216, 216, 216);
}

.login > input::placeholder {
    color: #606060;
}

.login > select {
    height: 30px;
    margin: 3px auto;
    justify-content: center;
    width: 88%;
    gap: 15px;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid rgb(216, 216, 216);
    color: #606060;
}

.login > a {
    align-self: flex-end;
    font-size:13px;
    margin-top: 15px;
    text-decoration:none;
    color: #F38181;
    font-weight:bold;
}

.nav-bar {
    height: 8vh;
    width: 69vw;
    color: #f3f3f3;
    background-color: #F38181;
    display: flex;
    justify-content: space-between;
    padding: 0 15vw;
    align-items: center;
    position: fixed;
}

.nav-bar > h4 {
    font-family: 'Indie Flower', cursive;
    color: #95E1D3;
    font-size: 22px;
}

.nav-bar > button {
    background-color:#f3f3f3;
    border-radius:10px;
    color:#F38181;
    font-size:18px;
    font-weight:bold;
    padding:12px 12px;
    width: 100px;
    border: none;
    text-decoration:none;
    align-self: center;
}

.nav-bar > div {
    display: flex;
    justify-content: space-between;
    width: 20vw;
}

.nav-bar > div > a {
    color: #f3f3f3;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid #f3f3f3;
    padding: 4px 6px;
    border-radius: 5px;
}

.hero {
    background-color: #F38181;
    display: flex;
    justify-content: space-around;
    padding: 8vh 15vw;
    height: 72vh;
    color: #f3f3f3;
}

.hero > div {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero > div > h1 {
    font-family: 'Indie Flower', cursive;
    color: #95E1D3;
    font-size: 80px;
}

.hero > div > p {
    margin-top: 5%;
    font-size: 24px;
    font-weight: bold;
}

.hero > div:first-child > img {
    width: 50%;
}


